[MASTER]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    W0212,  # protected-access
    R0913,  # too-many-arguments

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
max-line-length=88
